<html>

<head>

    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
    <div class='applicationlist'>
        <div id="id1">

            <div id="id2">
                <h2>current status</h2>
            </div>

            <table>
                <tr>
                    <td>Applcations received</td>
                    <td></td>
                </tr>

                <tr>
                    <td>last Date for the applications review</td>
                    <td>null</td>
                </tr>

                <tr>
                    <td>Board of undertaking</td>
                    <td>SSC,CBSE</td>
                </tr>

                <tr>
                    <td>Admissions Status</td>
                    <td>undergoing</td>
                </tr>

                <tr>
                    <td>Total seats in avai</td>
                    <td>25</td>
                </tr>

                <tr>
                    <td>available seats</td>
                    <td></td>
                </tr>

                <tr>
                    <td>academics staring date</td>
                    <td>08/12/2020</td>
                </tr>

            </table>




        </div>
    </div>


</body>

</html>