<body class="content">
    <div id="f1">
        <div id="id2">
            <h3>Welcome status checking page</h3>
        </div>
        <table>
            <tr>
                <td> userId</td>
                <td><input type="text" [(ngModel)]="deatils.name"></td>
            </tr>
            <tr>
                <td> board</td>
                <td><input type="text" [(ngModel)]="deatils.board"></td>
            </tr>
            <tr>
                <td> GPA</td>
                <td><input type="text" [(ngModel)]="deatils.gpa"></td>
            </tr>
            <tr>
                <td> percentage</td>
                <td><input type="text" [(ngModel)]="deatils.percentage"></td>
            </tr>
        </table>
        <div class="button">
            <button (click)="onclick()">submit </button>
        </div>
        <div id="response">
        </div>
        <br>
        <button (click)="refresh()" *ngIf="state"> check another</button>

    </div>

</body>